[submodule "contact-board-frontend"]
	path = contact-board-frontend
	url = git@github.com:Toducz/contact-board-frontend.git
[submodule "contact-board-backend"]
	path = contact-board-backend
	url = git@github.com:Toducz/contact-board-backend.git
